<div class="container">
    <table border="1" cellpadding="1" cellspacing="1" style="width:50%;background-color:#ffffcc;border-collapse:collapse;border:1px solid #ffcc00">
        <tbody>
            <tr>
                <td>404</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Cell 6</td>
            </tr>
        </tbody>
    </table>
    
    <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
        <tbody>
            <tr>
                <td>404</td>
                <td><span style="background-color: rgb(255, 255, 204);">Pagina Não encontrada</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                <h1 ><span style="background-color: rgb(255, 255, 204);">Oops! Parece que estamos com problemas para encontrar esta página.</span></h1>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span style="color: rgb(37, 37, 37); font-family: Roboto, arial, sans-serif; font-size: 18px; font-variant-ligatures: common-ligatures;">Existe alguma chance de você estar procurando ...</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;<ul class="p-404__list" style="box-sizing: border-box; margin: 20px 0px 0px; padding-left: 20px; color: rgb(0, 0, 0); font-family: Lato, Geneva, Tahoma, sans-serif; font-size: 16px; font-variant-ligatures: common-ligatures;">
                <li class="p-404__list-item" style="box-sizing: border-box; font-size: 18px; line-height: 30px;">Saiba tudo sobre uma plataforma de comércio eletrônico que vende para você? Iniciar..</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><ul class="p-404__list" style="box-sizing: border-box; margin: 20px 0px 0px; padding-left: 20px; color: rgb(0, 0, 0); font-family: Lato, Geneva, Tahoma, sans-serif; font-size: 16px; font-variant-ligatures: common-ligatures;">
                <li class="p-404__list-item" style="box-sizing: border-box; font-size: 18px; line-height: 30px; margin-top: 10px;">Obtenha ajuda de especialistas para expandir seus negócios? Fale com nossa equipe..</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><ul class="p-404__list" style="box-sizing: border-box; margin: 20px 0px 0px; padding-left: 20px; color: rgb(0, 0, 0); font-family: Lato, Geneva, Tahoma, sans-serif; font-size: 16px; font-variant-ligatures: common-ligatures;">
                <li class="p-404__list-item" style="box-sizing: border-box; font-size: 18px; line-height: 30px; margin-top: 10px;">Entre em contato com nossa equipe de sucesso do cliente.</li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
    <p>&nbsp;</p>
    
</div>

<img src="https://neilpatel.com/wp-content/uploads/2015/11/image201.png" alt="image20" width="610" height="360" srcset="https://neilpatel.com/wp-content/uploads/2015/11/image201.png 610w, https://neilpatel.com/wp-content/uploads/2015/11/image201-350x207.png 350w, https://neilpatel.com/wp-content/uploads/2015/11/image201-335x198.png 335w" sizes="(max-width: 610px) 100vw, 610px">