
<div class="container">
  <span class="text-primary">Home</span><br/>

  <span class="text-primary roboto font40">roboto - saulo gbqnpbreim</span><br/>
  <span class="text-primary ubuntu font40">ubuntu - saulo gbqnpbreim</span><br/>
  <span class="text-primary quicksand font40">quicksand - saulo gbqnpbreim</span><br/>
  <span class="text-primary comfortaa font40">comfortaa - saulo gbqnpbreim</span><br/>
  <span class="text-primary baloo-tamma font40">Baloo Tamma 2 - saulo gbqnpbreim</span><br/>
  <span class="text-primary clicker-script font40">Clicker Script - saulo gbqnpbreim</span><br/>
  <span class="text-primary bangers font40">bangers - saulo gbqnpbreim</span><br/>

  <br/>
  <i class="material-icons-round">donut_small</i><br/>
  <i class="material-icons-outlined">donut_small</i><br/>
  <i class="material-icons-two-tone">donut_small</i><br/>
  <i class="material-icons-round">donut_small</i><br/>
  <i class="material-icons-sharp">donut_small</i><br/>
  <br/><br/>
  <i class="material-icons-round">help</i><br/>
  <i class="material-icons-round">label</i><br/>
  <i class="material-icons-round">mail</i><br/>
  <i class="material-icons-round">info</i><br/>
  <i class="material-icons-round">lock</i><br/>
  <i class="material-icons-round">lightbulb</i><br/>
  <i class="material-icons-round">play_circle</i><br/>
  <i class="material-icons-round">error</i><br/>
  <i class="material-icons-round">add_circle</i><br/>
  <i class="material-icons-round">people</i><br/>
  <i class="material-icons-round">person</i><br/>
  <i class="material-icons-round">pause_circle</i><br/>
  <i class="material-icons-round">chat_bubble</i><br/>
  <i class="material-icons-round">remove_circle</i><br/>
  <i class="material-icons-round">check_box_blank</i><br/>
  <i class="material-icons-round">pie_chartd</i><br/>
</div>

<!--
  <div class="col-12 col-md-6 col-lg-4">

  </div>
  <div class="col-12 col-md-6 col-lg-4">

  </div>
  <div class="col-12 col-md-6 col-lg-4">

  </div>
-->