<div [class]="'theme-wrapper ' + theme$">
  <mat-toolbar class="head-theme">
     
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon class="icons-menu" *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon class="icons-menu" *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    <button mat-icon-button *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()">
        <mat-icon class="icons-menu" *ngIf="sidenav.opened">
            menu
        </mat-icon>
        <mat-icon class="icons-menu" *ngIf="!sidenav.opened">
            menu
        </mat-icon>
    </button>
    
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z1 menu-theme" style="border-right: solid 0px">
  
        <button routerLink="home" routerLinkActive="active" mat-button class="menu-button button-menu">
            <mat-icon class="icons-menu">home</mat-icon>
            <span class="texts-menu">Home</span>
        </button>

        <button mat-button class="menu-button button-menu">
            <mat-icon class="icons-menu">person</mat-icon>
            <span class="texts-menu">Profile</span>
        </button>

        <button routerLink="about" routerLinkActive="active" mat-button class="menu-button button-menu">
            <mat-icon class="icons-menu">info</mat-icon>
            <span class="texts-menu">About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button button-menu">
            <mat-icon class="icons-menu">help</mat-icon>
            <span class="texts-menu">Help</span>
        </button>
  
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content content-theme">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>