@use '~@angular/material' as mat;

// define a real custom palette (using http://mcg.mbitson.com)
$verde: (
    50 : #f1f8e9,
    100 : #dcedc8,
    200 : #c5e1a5,
    300 : #aed581,
    400 : #9ccc65,
    500 : #8bc34a,
    600 : #7cb342,
    700 : #689f38,
    800 : #558b2f,
    900 : #33691e,
    A100 : #ccff90,
    A200 : #b2ff59,
    A400 : #76ff03,
    A700 : #64dd17,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$roxo: (
    50 : #f3e5f5,
    100 : #e1bee7,
    200 : #ce93d8,
    300 : #ba68c8,
    400 : #ab47bc,
    500 : #9c27b0,
    600 : #8e24aa,
    700 : #7b1fa2,
    800 : #6a1b9a,
    900 : #4a148c,
    A100 : #ea80fc,
    A200 : #e040fb,
    A400 : #d500f9,
    A700 : #aa00ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$amarelo: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #fdd835,
    700 : #fbc02d,
    800 : #f9a825,
    900 : #f57f17,
    A100 : #ffff8d,
    A200 : #ffff00,
    A400 : #ffea00,
    A700 : #ffd600,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$anms-nature-primary: mat.define-palette($verde);
$anms-nature-accent: mat.define-palette($roxo);
$anms-nature-warn: mat.define-palette($amarelo);

$anms-nature-theme: mat.define-light-theme(
  $anms-nature-primary,
  $anms-nature-accent,
  $anms-nature-warn
);